html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: YuMincho, "Yu Mincho", serif;
  font-weight: 600;
  color: #091911;
}

.text-main {
  color: #256643;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.bg-sub {
  background: #f7f9f8;
}

.bg-enshrine {
  background: #dfe6da;
}

.font60 {
  font-size: 8.152173913vw;
}

.font48 {
  font-size: 6.52173913vw;
}

.font24 {
  font-size: 4.2vw;
}

.font20 {
  font-size: 2.717391304vw;
}

.font16 {
  font-size: 2.173913043vw;
}

.font10 {
  font-size: 10px;
}

.font20 {
  font-size: 20px;
}

.font30 {
  font-size: 30px;
}

.font40 {
  font-size: 40px;
}

.font50 {
  font-size: 50px;
}

.font60 {
  font-size: 60px;
}

.font70 {
  font-size: 70px;
}

.font80 {
  font-size: 80px;
}

.font90 {
  font-size: 90px;
}

.font100 {
  font-size: 100px;
}

.font-tracking1 {
  line-height: 2;
  font-size: 3.717391304vw;
  letter-spacing: 0.18em;
}

.font-tracking2 {
  line-height: 2.12625;
  font-size: 2.6vw;
  letter-spacing: 0.18em;
}

.font-tracking3 {
  line-height: 2.1;
  font-size: 2.6vw;
  letter-spacing: 0.18em;
}

.font-tracking4 {
  line-height: 1.3125;
  font-size: 3.173913043vw;
  letter-spacing: 0.1em;
}

.font-tracking5 {
  line-height: 1.05;
  font-size: 3.717391304vw;
  letter-spacing: 0.1em;
}

.text-general {
  color: #996580;
}

.text-home {
  color: #a67d65;
}

.text-enshrine {
  color: #65997d;
}

.text-sp-center {
  text-align: center;
}

.text-sp-left {
  text-align: left;
}

.text-sp-right {
  text-align: left;
}

.img10 {
  width: 10%;
}

.img20 {
  width: 20%;
}

.img30 {
  width: 30%;
}

.img40 {
  width: 40%;
}

.img50 {
  width: 50%;
}

.img60 {
  width: 60%;
}

.img70 {
  width: 70%;
}

.img80 {
  width: 80%;
}

.img90 {
  width: 90%;
}

.img100 {
  width: 100%;
}

.m10 {
  margin: 1.358695652vh 1.358695652vw;
}

.m20 {
  margin: 2.717391304vh 2.717391304vw;
}

.m30 {
  margin: 4.076086957vh 4.076086957vw;
}

.m40 {
  margin: 5.434782609vh 5.434782609vw;
}

.m50 {
  margin: 6.793478261vh 6.793478261vw;
}

.m60 {
  margin: 8.152173913vh 8.152173913vw;
}

.m70 {
  margin: 9.510869565vh 9.510869565vw;
}

.m80 {
  margin: 10.86956522vh 10.86956522vw;
}

.m90 {
  margin: 12.22826087vh 12.22826087vw;
}

.m100 {
  margin: 13.58695652vh 13.58695652vw;
}

.my10 {
  margin: 1.358695652vh 0;
}

.my20 {
  margin: 2.717391304vh 0;
}

.my30 {
  margin: 4.076086957vh 0;
}

.my40 {
  margin: 5.434782609vh 0;
}

.my50 {
  margin: 6.793478261vh 0;
}

.my60 {
  margin: 8.152173913vh 0;
}

.my70 {
  margin: 9.510869565vh 0;
}

.my80 {
  margin: 10.86956522vh 0;
}

.my90 {
  margin: 12.22826087vh 0;
}

.my100 {
  margin: 13.58695652vh 0;
}

.mx10 {
  margin: 0 1.358695652vw;
}

.mx20 {
  margin: 0 2.717391304vw;
}

.mx30 {
  margin: 0 4.076086957vw;
}

.mx40 {
  margin: 0 5.434782609vw;
}

.mx50 {
  margin: 0 6.793478261vw;
}

.mx60 {
  margin: 0 8.152173913vw;
}

.mx70 {
  margin: 0 9.510869565vw;
}

.mx80 {
  margin: 0 10.86956522vw;
}

.mx90 {
  margin: 0 12.22826087vw;
}

.mx100 {
  margin: 0 13.58695652vw;
}

.mb10 {
  margin-bottom: 1.358695652vh;
}

.mb20 {
  margin-bottom: 2.717391304vh;
}

.mb30 {
  margin-bottom: 4.076086957vh;
}

.mb40 {
  margin-bottom: 5.434782609vh;
}

.mb50 {
  margin-bottom: 6.793478261vh;
}

.mb60 {
  margin-bottom: 8.152173913vh;
}

.mb70 {
  margin-bottom: 9.510869565vh;
}

.mb80 {
  margin-bottom: 10.86956522vh;
}

.mb90 {
  margin-bottom: 12.22826087vh;
}

.mb100 {
  margin-bottom: 13.58695652vh;
}

.mt10 {
  margin-top: 1.358695652vh;
}

.mt20 {
  margin-top: 2.717391304vh;
}

.mt30 {
  margin-top: 4.076086957vh;
}

.mt40 {
  margin-top: 5.434782609vh;
}

.mt50 {
  margin-top: 6.793478261vh;
}

.mt60 {
  margin-top: 8.152173913vh;
}

.mt70 {
  margin-top: 9.510869565vh;
}

.mt80 {
  margin-top: 10.86956522vh;
}

.mt90 {
  margin-top: 12.22826087vh;
}

.mt100 {
  margin-top: 13.58695652vh;
}

.mr10 {
  margin-right: 1.358695652vh;
}

.mr20 {
  margin-right: 2.717391304vh;
}

.mr30 {
  margin-right: 4.076086957vh;
}

.mr40 {
  margin-right: 5.434782609vh;
}

.mr50 {
  margin-right: 6.793478261vh;
}

.mr60 {
  margin-right: 8.152173913vh;
}

.mr70 {
  margin-right: 9.510869565vh;
}

.mr80 {
  margin-right: 10.86956522vh;
}

.mr90 {
  margin-right: 12.22826087vh;
}

.mr100 {
  margin-right: 13.58695652vh;
}

.ml10 {
  margin-left: 1.358695652vh;
}

.ml20 {
  margin-left: 2.717391304vh;
}

.ml30 {
  margin-left: 4.076086957vh;
}

.ml40 {
  margin-left: 4.076086957vh;
}

.ml50 {
  margin-left: 5.434782609vh;
}

.ml60 {
  margin-left: 8.152173913vh;
}

.ml70 {
  margin-left: 9.510869565vh;
}

.ml80 {
  margin-left: 10.86956522vh;
}

.ml90 {
  margin-left: 12.22826087vh;
}

.ml100 {
  margin-left: 13.58695652vh;
}

.p10 {
  padding: 1.358695652vh 1.358695652vw;
}

.p20 {
  padding: 2.717391304vh 2.717391304vw;
}

.p30 {
  padding: 4.076086957vh 4.076086957vw;
}

.p40 {
  padding: 5.434782609vh 5.434782609vw;
}

.p50 {
  padding: 6.793478261vh 6.793478261vw;
}

.p60 {
  padding: 8.152173913vh 8.152173913vw;
}

.p70 {
  padding: 9.510869565vh 9.510869565vw;
}

.p80 {
  padding: 10.86956522vh 10.86956522vw;
}

.p90 {
  padding: 12.22826087vh 12.22826087vw;
}

.p100 {
  padding: 13.58695652vh 13.58695652vw;
}

.py10 {
  padding: 1.358695652vh 0;
}

.py20 {
  padding: 2.717391304vh 0;
}

.py30 {
  padding: 4.076086957vh 0;
}

.py40 {
  padding: 5.434782609vh 0;
}

.py50 {
  padding: 6.793478261vh 0;
}

.py60 {
  padding: 8.152173913vh 0;
}

.py70 {
  padding: 9.510869565vh 0;
}

.py80 {
  padding: 10.86956522vh 0;
}

.py90 {
  padding: 12.22826087vh 0;
}

.py100 {
  padding: 13.58695652vh 0;
}

.px10 {
  padding: 0 1.358695652vw;
}

.px20 {
  padding: 0 2.717391304vw;
}

.px30 {
  padding: 0 4.076086957vw;
}

.px40 {
  padding: 0 5.434782609vw;
}

.px50 {
  padding: 0 6.793478261vw;
}

.px60 {
  padding: 0 8.152173913vw;
}

.px70 {
  padding: 0 9.510869565vw;
}

.px80 {
  padding: 0 10.86956522vw;
}

.px90 {
  padding: 0 12.22826087vw;
}

.px100 {
  padding: 0 13.58695652vw;
}

.pb10 {
  padding-bottom: 1.358695652vh;
}

.pb20 {
  padding-bottom: 2.717391304vh;
}

.pb30 {
  padding-bottom: 4.076086957vh;
}

.pb40 {
  padding-bottom: 5.434782609vh;
}

.pb50 {
  padding-bottom: 6.793478261vh;
}

.pb60 {
  padding-bottom: 8.152173913vh;
}

.pb70 {
  margin-bottom: 9.510869565vh;
}

.pb80 {
  padding-bottom: 10.86956522vh;
}

.pb90 {
  padding-bottom: 12.22826087vh;
}

.pb100 {
  padding-bottom: 13.58695652vh;
}

.pt10 {
  padding-top: 1.358695652vh;
}

.pt20 {
  padding-top: 2.717391304vh;
}

.pt30 {
  padding-top: 4.076086957vh;
}

.pt40 {
  padding-top: 5.434782609vh;
}

.pt50 {
  padding-top: 6.793478261vh;
}

.pt60 {
  padding-top: 8.152173913vh;
}

.pt70 {
  padding-top: 9.510869565vh;
}

.pt80 {
  padding-top: 10.86956522vh;
}

.pt90 {
  padding-top: 12.22826087vh;
}

.pt100 {
  padding-top: 13.58695652vh;
}

.pr10 {
  padding-right: 1.358695652vh;
}

.pr20 {
  padding-right: 2.717391304vh;
}

.pr30 {
  padding-right: 4.076086957vh;
}

.pr40 {
  padding-right: 5.434782609vh;
}

.pr50 {
  padding-right: 6.793478261vh;
}

.pr60 {
  padding-right: 8.152173913vh;
}

.pr70 {
  padding-right: 9.510869565vh;
}

.pr80 {
  padding-right: 10.86956522vh;
}

.pr90 {
  padding-right: 12.22826087vh;
}

.pr100 {
  margin-right: 13.58695652vh;
}

.pl10 {
  padding-left: 1.358695652vh;
}

.pl20 {
  padding-left: 2.717391304vh;
}

.pl30 {
  padding-left: 4.076086957vh;
}

.pl40 {
  padding-left: 4.076086957vh;
}

.pl50 {
  padding-left: 5.434782609vh;
}

.pl60 {
  padding-left: 8.152173913vh;
}

.pl70 {
  padding-left: 9.510869565vh;
}

.pl80 {
  padding-left: 10.86956522vh;
}

.pl90 {
  padding-left: 12.22826087vh;
}

.pl100 {
  padding-left: 13.58695652vh;
}

.grid-sp-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.grid-sp-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid-sp-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid-sp-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-sp-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-sp-6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-sp-7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-sp-8 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-sp-9 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-sp-10 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.spHidden,
[hidden] {
  display: none !important;
}

.spVisible {
  display: block !important;
}

.mx-auto {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }
  .m10 {
    margin: 0.9765625vh 0.9765625vw;
  }
  .m20 {
    margin: 1.953125vh 1.953125vw;
  }
  .m30 {
    margin: 2.9296875vh 2.9296875vw;
  }
  .m40 {
    margin: 3.90625vh 3.90625vw;
  }
  .m50 {
    margin: 4.8828125vh 4.8828125vw;
  }
  .m60 {
    margin: 5.859375vh 5.859375vw;
  }
  .m70 {
    margin: 6.8359375vh 6.8359375vw;
  }
  .m80 {
    margin: 7.8125vh 7.8125vw;
  }
  .m90 {
    margin: 8.7890625vh 8.7890625vw;
  }
  .m100 {
    margin: 9.765625vh 9.765625vw;
  }
  .my10 {
    margin: 0.9765625vh 0;
  }
  .my20 {
    margin: 1.953125vh 0;
  }
  .my30 {
    margin: 2.9296875vh 0;
  }
  .my40 {
    margin: 3.90625vh 0;
  }
  .my50 {
    margin: 4.8828125vh 0;
  }
  .my60 {
    margin: 5.859375vh 0;
  }
  .my70 {
    margin: 6.8359375vh 0;
  }
  .my80 {
    margin: 7.8125vh 0;
  }
  .my90 {
    margin: 8.7890625vh 0;
  }
  .my100 {
    margin: 9.765625vh 0;
  }
  .mx10 {
    margin: 0 0.9765625vw;
  }
  .mx20 {
    margin: 0 1.953125vw;
  }
  .mx30 {
    margin: 0 2.9296875vw;
  }
  .mx40 {
    margin: 0 3.90625vw;
  }
  .mx50 {
    margin: 0 4.8828125vw;
  }
  .mx60 {
    margin: 0 5.859375vw;
  }
  .mx70 {
    margin: 0 6.8359375vw;
  }
  .mx80 {
    margin: 0 7.8125vw;
  }
  .mx90 {
    margin: 0 8.7890625vw;
  }
  .mx100 {
    margin: 0 9.765625vw;
  }
  .mb10 {
    margin-bottom: 0.9765625vh;
  }
  .mb20 {
    margin-bottom: 1.953125vh;
  }
  .mb30 {
    margin-bottom: 2.9296875vh;
  }
  .mb40 {
    margin-bottom: 3.90625vh;
  }
  .mb50 {
    margin-bottom: 4.8828125vh;
  }
  .mb60 {
    margin-bottom: 5.859375vh;
  }
  .mb70 {
    margin-bottom: 6.8359375vh;
  }
  .mb80 {
    margin-bottom: 7.8125vh;
  }
  .mb90 {
    margin-bottom: 8.7890625vh;
  }
  .mb100 {
    margin-bottom: 9.765625vh;
  }
  .mt10 {
    margin-top: 0.9765625vh;
  }
  .mt20 {
    margin-top: 1.953125vh;
  }
  .mt30 {
    margin-top: 2.9296875vh;
  }
  .mt40 {
    margin-top: 3.90625vh;
  }
  .mt50 {
    margin-top: 4.8828125vh;
  }
  .mt60 {
    margin-top: 5.859375vh;
  }
  .mt70 {
    margin-top: 6.8359375vh;
  }
  .mt80 {
    margin-top: 7.8125vh;
  }
  .mt90 {
    margin-top: 8.7890625vh;
  }
  .mt100 {
    margin-top: 9.765625vh;
  }
  .mr10 {
    margin-right: 0.9765625vh;
  }
  .mr20 {
    margin-right: 1.953125vh;
  }
  .mr30 {
    margin-right: 2.9296875vh;
  }
  .mr40 {
    margin-right: 3.90625vh;
  }
  .mr50 {
    margin-right: 4.8828125vh;
  }
  .mr60 {
    margin-right: 5.859375vh;
  }
  .mr70 {
    margin-right: 6.8359375vh;
  }
  .mr80 {
    margin-right: 7.8125vh;
  }
  .mr90 {
    margin-right: 8.7890625vh;
  }
  .mr100 {
    margin-right: 9.765625vh;
  }
  .ml10 {
    margin-left: 0.9765625vh;
  }
  .ml20 {
    margin-left: 1.953125vh;
  }
  .ml30 {
    margin-left: 2.9296875vh;
  }
  .ml40 {
    margin-left: 3.90625vh;
  }
  .ml50 {
    margin-left: 4.8828125vh;
  }
  .ml60 {
    margin-left: 5.859375vh;
  }
  .ml70 {
    margin-left: 6.8359375vh;
  }
  .ml80 {
    margin-left: 7.8125vh;
  }
  .ml90 {
    margin-left: 8.7890625vh;
  }
  .ml100 {
    margin-left: 9.765625vh;
  }
  .text-tab-center {
    text-align: center;
  }
  .text-tab-left {
    text-align: left;
  }
  .text-tab-right {
    text-align: left;
  }
  .font-tracking1 {
    line-height: 2;
    font-size: 1.953125vw;
    letter-spacing: 0.18em;
  }
  .font-tracking2 {
    line-height: 2.12625;
    font-size: 1.5625vw;
    letter-spacing: 0.18em;
  }
  .font-tracking3 {
    line-height: 3;
    font-size: 1.5625vw;
    letter-spacing: 0.18em;
  }
  .font-tracking4 {
    line-height: 1.3125;
    font-size: 1.5625vw;
    letter-spacing: 0.1em;
  }
  .font-tracking5 {
    line-height: 1.05;
    font-size: 1.5vw;
    letter-spacing: 0.1em;
  }
  .font60 {
    font-size: 5.859375vw;
  }
  .font48 {
    font-size: 3.69vw;
  }
  .font24 {
    font-size: 2.34375vw;
  }
  .font20 {
    font-size: 1.953125vw;
  }
  .font16 {
    font-size: 1.5625vw;
  }
  .text-tab-center {
    text-align: center;
  }
  .text-tab-left {
    text-align: left;
  }
  .text-tab-right {
    text-align: left;
  }
  .grid-tab-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-tab-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-tab-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-tab-4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-tab-5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-tab-6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-tab-7 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-tab-8 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-tab-9 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-tab-10 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .img-tab-10 {
    width: 10%;
  }
  .img-tab-20 {
    width: 20%;
  }
  .img-tab-30 {
    width: 30%;
  }
  .img-tab-40 {
    width: 40%;
  }
  .img-tab-50 {
    width: 50%;
  }
  .img-tab-60 {
    width: 60%;
  }
  .img-tab-70 {
    width: 70%;
  }
  .img-tab-80 {
    width: 80%;
  }
  .img-tab-90 {
    width: 90%;
  }
  .img-tab-100 {
    width: 100%;
  }
  .tabHidden,
  [hidden] {
    display: none !important;
  }
  .tabVisible {
    display: block !important;
  }
}

@media screen and (min-width: 1025px) {
  html {
    scroll-behavior: smooth;
  }
  .font60 {
    font-size: 3.125vw;
  }
  .font48 {
    font-size: 2.5vw;
    letter-spacing: 0.34em;
  }
  .font36 {
    font-size: 1.875vw;
  }
  .font24 {
    font-size: 1.25vw;
  }
  .font20 {
    font-size: 1.041666667vw;
  }
  .font16 {
    font-size: 0.8333333333vw;
  }
  .font-tracking1 {
    line-height: 2;
    font-size: 1.041666667vw;
    letter-spacing: 0.18em;
  }
  .font-tracking2 {
    line-height: 2.12625;
    font-size: 0.833333333vw;
    letter-spacing: 0.18em;
  }
  .font-tracking3 {
    line-height: 3;
    font-size: 0.833333333vw;
    letter-spacing: 0.18em;
  }
  .font-tracking4 {
    line-height: 1.3125;
    font-size: 0.833333333vw;
    letter-spacing: 0.1em;
  }
  .font-tracking5 {
    line-height: 1.05;
    font-size: 1.041666667vw;
    letter-spacing: 0.1em;
  }
  .font-tracking6 {
    line-height: 2;
    font-size: 1.25vw;
    letter-spacing: 0.1em;
  }
  .text-pc-center {
    text-align: center;
  }
  .text-pc-left {
    text-align: left;
  }
  .text-pc-right {
    text-align: left;
  }
  .grid-pc-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-pc-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .grid-pc-3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-pc-4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-pc-5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-pc-6 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-pc-7 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-pc-8 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-pc-9 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .grid-pc-10 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .img-pc-10 {
    width: 10%;
  }
  .img-pc-20 {
    width: 20%;
  }
  .img-pc-30 {
    width: 30%;
  }
  .img-pc-40 {
    width: 40%;
  }
  .img-pc-50 {
    width: 50%;
  }
  .img-pc-60 {
    width: 60%;
  }
  .img-pc-70 {
    width: 70%;
  }
  .img-pc-80 {
    width: 80%;
  }
  .img-pc-90 {
    width: 90%;
  }
  .img-pc-100 {
    width: 100%;
  }
  .pcHidden,
  [hidden] {
    display: none !important;
  }
  .pcVisible {
    display: block !important;
  }
}

.grid-col-gap10 {
  grid-column-gap: 10px;
}

.grid-col-gap20 {
  grid-column-gap: 20px;
}

.grid-col-gap30 {
  grid-column-gap: 30px;
}

.grid-col-gap40 {
  grid-column-gap: 40px;
}

.grid-col-gap50 {
  grid-column-gap: 50px;
}

.grid-col-gap60 {
  grid-column-gap: 60px;
}

.grid-col-gap70 {
  grid-column-gap: 70px;
}

.grid-col-gap80 {
  grid-column-gap: 80px;
}

.grid-col-gap90 {
  grid-column-gap: 90px;
}

.grid-col-gap100 {
  grid-column-gap: 100px;
}

.grid-row-gap10 {
  grid-row-gap: 10px;
}

.grid-row-gap20 {
  grid-row-gap: 20px;
}

.grid-row-gap30 {
  grid-row-gap: 30px;
}

.grid-row-gap40 {
  grid-row-gap: 40px;
}

.grid-row-gap50 {
  grid-row-gap: 50px;
}

.grid-row-gap60 {
  grid-row-gap: 60px;
}

.grid-row-gap70 {
  grid-row-gap: 70px;
}

.grid-row-gap80 {
  grid-row-gap: 80px;
}

.grid-row-gap90 {
  grid-row-gap: 90px;
}

.grid-row-gap100 {
  grid-row-gap: 100px;
}
/*# sourceMappingURL=common.css.map */